#Threadlist_Tab_Reload {
	Display: Inline-Flex;
	Align-Items: Center;
}

#Threadlist_Search_Searcher_Container {
	Width: 100%;
}

#Threadlist > Div[Disabled] {
	Display: None;
}

#Threadlist *[Data-Component^="Threadlist_Thread"] {
	Text-Decoration: None;
	Cursor: Pointer;
}

#Threadlist *[Data-Component^="Threadlist_Thread"][Disabled] {
	Display: None;
}

#Threadlist *[Data-Component^="Threadlist_Thread"] A {
	Color: Inherit;
	Font-Weight: Inherit;
}

#Threadlist *[Data-Component="Threadlist_Thread-Admin"] {
	Position: Relative;
}