A:Not([Href]) {
	Cursor: Pointer;
}

*.mdl-grid > *.mdl-cell {
	Padding: 4vmin;
}



*[Data-TagID="ProfilePhoto"] {
	Width: Auto;

	Background: Transparent Center / Cover;
	Border-Radius: 100%;
}

*[Data-TagID="ProfilePhoto"]::Before {
	Content: "";

	Display: Block;
	Padding-Top: 100%;
}

*[Data-TagID="ProfilePhoto--Btn"] {
	Background: Transparent Center / Cover;
}

*[Data-TagID="ProfilePhoto--Btn"][SignOut] {
	Display: None;
}