Dialog[ID^="Dialogs"] {
	Width: 50%;
}

Dialog[ID^="Dialogs"] Div.mdl-textfield {
	Width: 100%;
}



#Dialogs_Profile_InfoViewer_Content {
	Display: Flex;
	Flex-Direction: Row;
	Align-Items: Flex-Start;

	Font-Size: Medium;
}

#Dialogs_Profile_InfoViewer_Content_Photo {
	Width: 20%;

	Margin-Right: 5%;
}

#Dialogs_Profile_InfoViewer_Content_Info_Detail {
	Padding: 1em 0 4em 0;
}

#Dialogs_Profile_InfoViewer_Content_Info_Link {
	Padding: 1em 0 0;
}

#Dialogs_Profile_InfoViewer_Content_Info_Link Img {
	Width: 1em;
}