Dialog[ID^="Dialogs"] {
	Width: 50%;
}

Dialog[ID^="Dialogs"] Div.mdl-textfield {
	Width: 100%;
}



#Dialogs_Profile_InfoViewer_Content {
	Display: Flex;
	Flex-Direction: Row;
	Align-Items: Flex-Start;

	Font-Size: Medium;
}

#Dialogs_Profile_InfoViewer_Content_Photo {
	Width: 20%;

	Margin-Right: 5%;

	Background: Transparent Center / Cover;
	Border-Radius: 100%;
}

#Dialogs_Profile_InfoViewer_Content_Photo::Before {
	Content: "";
	
	Display: Block;
	Padding-Top: 100%;
}

#Dialogs_Profile_InfoViewer_Content_Info {
	Flex: 1;
}

#Dialogs_Profile_InfoViewer_Content_Info_Detail {
	Padding: 1em 0 4em 0;

	White-Space: Pre-Wrap;
}

#Dialogs_Profile_InfoViewer_Content_Info_Links {
	Padding: 1em 0 0;
}

Img[UUID="Dialogs_Profile_InfoViewer_Content_Info_Links_Link_Icon"] {
	Width: 1em;
}



#Dialogs_Thread_Poster_Content_Value_Input {
	Resize: None;
}