#Screens_Loading {
	Transition: Opacity 0.25s Cubic-Bezier(0.4, 0, 0.2, 1) 0s;

	Position: Fixed;
	Left: 0;
	Top: 0;

	Display: Flex;
	Flex-Direction: Row;
	Justify-Content: Center;
	Align-Items: Center;

	Width: 100%;
	Height: 100%;

	Background: RGBA(0, 0, 0, 0.5);
	Opacity: 1;
	Z-Index: 1000;
}

#Screens_Loading[Disabled] {
	Opacity: 0;
	Z-Index: -1;
}