* {
	Font-Family: "Meiryo UI";
}



#Profile {
	Display: Flex;
	Flex-Direction: Row;
	Align-Items: Flex-Start;
}

#Profile_Photo {
	Width: 20%;

	Margin-Right: 5%;

	Border-Radius: 100%;
}

#Profile_Photo::Before {
	Content: "";
	
	Display: Block;
	Padding-Top: 100%;
}

#Profile_Info {
	Display: Flex;
	Flex-Direction: Column;
	
	Flex: 1;
	
	Padding: 2vmin 0;
}

#Profile_Info > * {
	Width: 100%;
}