Div[UUID="Thread_Post"] {
	Width: 100%;
	Min-Height: Auto;
}

Div[UUID="Thread_Post_Header"] > * {
	Display: Flex;
	Flex-Direction: Row;
	Align-Items: Center;

	Font-Size: Medium;
}

Span[UUID="Thread_Post_Header_Actor"] {
	Align-Self: Auto;

	Margin-Left: 0.5em;
}

Span[UUID="Thread_Post_Header_CreatedAt"] {
	Color: #BDBDBD;
	Font-Size: 80%;
}



#FlowPanel {
	Position: Fixed;
	Left: 0;
	Top: 0;

	Width: 100%;
	Height: 100%;
}

#FlowPanel_Btns {
	Position: Absolute;
	Right: 0;
	Bottom: 0;

	Padding: 5vh 4vw;
}