Body {
	Background: URL("/SimpleThread/assets/images/Back.jpg");
}

Main {
	Padding: 4vmin;
}

A:Not([Href]) {
	Cursor: Pointer;
}

*[Data-Locales] {
	White-Space: Pre-Line;
}



*[UUID="ProfilePhoto"] {
	Width: Auto;

	Background: Transparent Center / Cover;
	Border-Radius: 100%;
}

*[UUID="ProfilePhoto"]::Before {
	Content: "";

	Display: Block;
	Padding-Top: 100%;
}

*[UUID="ProfilePhoto-Btn"] {
	Background: Transparent Center / Cover;
}

*[UUID="ProfilePhoto-Btn"][Disabled] {
	Display: None;
}