Body {
	Margin: 5% 10% 0 10%;
	
	Border: Thin Solid LightGray;
	Border-Radius: 10px;
}

Body > Div {
	Padding: 10px;
}

.Title {
	Text-Align: Center;
	Font-Size: XX-Large;
	
	BackGround: RGBA(173, 216, 230, 0.25);
	Border-Bottom: Thin Solid LightBlue;
}

.Title > Img {
	Vertical-Align: Middle;
}

.Message > P {
	Margin-Top: 0;
}