HTML, Body {
	Height: 100%;
}

Body {
	Margin: 0;
}

Div[Data-Component="Frame-Content"] {
	Display: Flex;
	Flex-Direction: Column;
}

UL[Data-Component="Frame-Drawer_SNSList"] {
	Margin: 0 Auto;
}

UL[Data-Component="Frame-Drawer_SNSList"] > A > Span {
	Vertical-Align: Middle;
}

Main {
	Flex: 1;
	
	Padding: 1rem;
}



.mdc-typography--headline {
	Border-Bottom: Thin Solid LightSeagreen;
}

.mdc-typography--headline::Before {
	Content: "";
	
	Display: Inline-Block;
	
	Margin-Right: 0.5em;
	Border: 1rem Solid Transparent;
	Border-Color: Transparent LightSeagreen LightSeagreen Transparent;
	
	Vertical-Align: Bottom;
}